.Ingedrients {
    font-size: x-large;
}

.part {
    font-weight: bolder;
    text-decoration: underline;
}

.recipetitle {
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

#erster abschnitt {
    display: compact;
    background-color: aqua;
    width: 300;
    height: 500;
}

Body {
    background-color: aqua;
}
